@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.recruiter-section{
    margin: 20px 60px 10px 60px;
    border-radius: 16px;
     background: linear-gradient(180deg, #1E88E5 0%, #176AB2 50%);

    background: linear-gradient( X-0, Y-2, Blur-6, #000000 -25%);
}
.recruiter-image img{
    width: 350px;
    border-radius: 60px;
    position: relative;
    left: 2%;
}
.recruiter-content button{
    position: relative;
    left: 70%;
}
.recruiter-content h1{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 400;
}